    Select your status:
    <select name="{{field_id}}" size="1">
        <option value="http://schema.org/Confirmed">Confirmed</option>
        <option value="http://schema.org/Cancelled">Cancelled</option>
        <option value="http://schema.org/Pending">Pending</option>
        <option value="http://schema.org/Hold">Hold</option>
    </select>
