    <select name="{{field_id}}" size="1">
        <!-- https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 -->
        <option value="DE">Germany</option>
        <option value="UK">United Kingdom</option>
        <option value="US">United States of America</option>
    </select>
