{{#fieldtype_text}}
    {{>mdl_input_text}}
{{/fieldtype_text}}
{{#fieldtype_url}}
    {{>mdl_input_url}}
{{/fieldtype_url}}
{{#fieldtype_tel}}
    {{>mdl_input_tel}}
{{/fieldtype_tel}}
{{#fieldtype_barcode}}
    {{>mdl_input_barcode}}
{{/fieldtype_barcode}}
{{#fieldtype_datetime}}
    {{>mdl_input_datetime}}
{{/fieldtype_datetime}}
{{#fieldtype_eventtype}}
    {{>mdl_input_eventtype}}
{{/fieldtype_eventtype}}
{{#fieldtype_country}}
    {{>mdl_input_country}}
{{/fieldtype_country}}
{{#fieldtype_number}}
    {{>mdl_input_number}}
{{/fieldtype_number}}
{{#fieldtype_decimal}}
    {{>mdl_input_decimal}}
{{/fieldtype_decimal}}
{{#fieldtype_email}}
    {{>mdl_input_email}}
{{/fieldtype_email}}
{{#fieldtype_status}}
    {{>mdl_input_status}}
{{/fieldtype_status}}
{{#fieldtype_currency}}
    {{>mdl_input_currency}}
{{/fieldtype_currency}}
