<div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
    <!-- https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2 -->
    <select id="{{field_id}}" name="{{field_id}}" {{#required}}required{{/required}} size="1" class="mdlext-selectfield__select" data-value="{{value}}">
        <option value=""></option>
        <option value="AU">Australia</option>
        <option value="AT">Austria</option>
        <option value="BE">Belgium</option>
        <option value="BG">Bulgaria</option>
        <option value="CA">Canada</option>
        <option value="HR">Croatia</option>
        <option value="CZ">Czech Republic</option>
        <option value="DK">Denmark</option>
        <option value="FI">Finland</option>
        <option value="FR">France</option>
        <option value="DE">Germany</option>
        <option value="GR">Greece</option>
        <option value="HU">Hungary</option>
        <option value="IS">Iceland</option>
        <option value="IN">India</option>
        <option value="IE">Ireland</option>
        <option value="IT">Italy</option>
        <option value="LU">Luxembourg</option>
        <option value="MX">Mexico</option>
        <option value="NL">Netherlands</option>
        <option value="NO">Norway</option>
        <option value="PL">Poland</option>
        <option value="PT">Portugal</option>
        <option value="RO">Romania</option>
        <option value="RU">Russian Federation</option>
        <option value="SK">Slovakia</option>
        <option value="SI">Slovenia</option>
        <option value="ES">Spain</option>
        <option value="SE">Sweden</option>
        <option value="CH">Switzerland</option>
        <option value="TR">Turkey</option>
        <option value="UA">Ukraine</option>
        <option value="AE">United Arab Emirates</option>
        <option value="UK">United Kingdom</option>
        <option value="US">United States of America</option>
    </select>
    <label for="{{field_id}}" class="mdlext-selectfield__label">{{title}}</label>
    <span class="mdlext-selectfield__error">Please select a country!</span>
</div>
