    <select name="{{field_id}}" size="1">
        <option value="EUR">Euro - €</option>
        <option value="USD">US Dollar - $</option>
        <option value="GBP">British Pound - £</option>
    </select>
