<div class="mdlext-selectfield mdlext-js-selectfield mdlext-selectfield--floating-label">
    <select id="{{field_id}}" name="{{field_id}}" {{#required}}required{{/required}} size="1" class="mdlext-selectfield__select" data-value="{{value}}">
        <option value=""></option>
        <option value="EUR">Euro - €</option>
        <option value="USD">US Dollar - $</option>
        <option value="GBP">British Pound - £</option>
    </select>
    <label for="{{field_id}}" class="mdlext-selectfield__label">{{title}}</label>
    <span class="mdlext-selectfield__error">Please select a currency!</span>
</div>

