      </div>
    </div>
    <footer class="frs-footer mdl-mini-footer">
      <div class="mdl-mini-footer--left-section">
        <ul class="mdl-mini-footer--link-list">
          <li><a href="./">Home</a></li>
          <li><a href="faq">FAQ</a></li>
        </ul>
      </div>
    </footer>
