<div class="frs-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
  <header class="frs-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Fake Reservation System</span>
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        {{# user.name_first}}
        <span class="mdl-navigation__link mdl-color-text--grey-800">Hello, {{user.name_first}}!<span id="session_expires"></span></span>
        {{/ user.name_first}}
        <button id="frs-menu-top" class="mdl-button mdl-js-button mdl-button--icon">
            <span class="material-icons">more_vert</span>
        </button>
        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="frs-menu-top">
            <li id="frs-menuitem-logout" class="mdl-menu__item" onclick="location.href='?action=logout';">Logout</li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="frs-ribbon"></div>
  <main class="frs-main mdl-layout__content">

<script>
    var page_load_time = Math.floor(Date.now() / 1000);
    var seconds_left = {{session_time_left}};
    var expire_time = page_load_time + seconds_left;

    function updateTimeLeft() {
        var now = Math.floor(Date.now() / 1000);
        var time_left = expire_time - now;
        var obj = document.getElementById('session_expires');
        var minutes = Math.floor(time_left / 60);
        var seconds = time_left % 60;
        if (minutes+seconds > 0) {
            obj.innerHTML = ' (' + ('0' + minutes).slice(-2) + ':' + ('0' + seconds).slice(-2) + ')';
        } else {
            obj.innerHTML = '';
            window.clearInterval(window.updateTimer);
        }
    }

    var updateTimer = window.setInterval('updateTimeLeft();', 1000);
</script>
