{{> html_head}}
{{> mdl_head}}
{{> mdl_content_head}}

<div class="frs-crumbs mdl-color-text--grey-500">
  <a href="./">Fake Reservation System</a> &gt; FAQ
</div>

<h3>Frequently Asked Questions</h3>

<h4>What happens to my data?</h4>

<p>
Your data won't be stored on our servers. It is solely used to compose the mail.
After the mail is sent, your data is deleted from our servers.
</p>


{{> mdl_content_foot}}
{{> mdl_foot}}
{{> html_foot}}
