{{> html_head}}
{{> mdl_head}}
{{> mdl_content_head}}

<div class="frs-crumbs mdl-color-text--grey-500">
  <a href="./">Fake Reservation System</a> &gt; Create Hotel Reservation
</div>

<h3><i class="material-icons">hotel</i> Hotel Reservation</h3>

<form action="./" method="post">

<p>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" required id="reservationFor_name">
    <label class="mdl-textfield__label" for="reservationFor_name">Name</label>
    <span class="mdl-textfield__error">Please input a name!</span>
  </div>
</p>

<p>
<!-- Numeric Textfield with Floating Label -->
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="datetime-local" min="{{date_today}}" required id="reservationFor_startDate">
    <label class="mdl-textfield__label" for="reservationFor_checkinDate">Checkin Time</label>
    <span class="mdl-textfield__error">Input is empty or not a date!</span>
  </div>
</p>

<button id="frs-button-send" type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
  <i class="material-icons">send</i>
</button>

</form>

{{> mdl_content_foot}}
{{> mdl_foot}}
{{> html_foot}}
