{{> html_head}}

    <div class="frs-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="frs-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Fake Reservation System</span>
        </div>
      </header>
      <div class="frs-ribbon"></div>
      <main class="frs-main mdl-layout__content">
        <div class="frs-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="frs-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
            <div class="frs-crumbs mdl-color-text--grey-500">
              Not Google &gt; Not Google Now &gt; Fake Reservation System
            </div>
            <h3>What is this?</h3>

<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>
<p>
            Hello, world!
</p>

          </div>
        </div>
        <footer class="frs-footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer--link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy and Terms</a></li>
              <li><a href="#">User Agreement</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
    <a href="https://github.com/google/material-design-lite/blob/master/templates/article/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>

{{> html_foot}}
