{{> html_head}}
{{> mdl_head}}
{{> mdl_content_head}}

<div class="frs-crumbs mdl-color-text--grey-500">
  Not Google &gt; Not Google Now &gt; Fake Reservation System
</div>

<h3>What is this?</h3>

{{# userdata}}
<p>
<pre>{{userdata}}</pre>
</p>
{{/ userdata}}

<p>
    Welcome, to the <strong>Fake Reservation System</strong>. Where you can book travels you'll never attend.
</p>

{{> mdl_content_foot}}
{{> mdl_foot}}
{{> html_foot}}
