{{> html_head}}
{{> mdl_head}}
{{> mdl_content_head}}

<div class="frs-crumbs mdl-color-text--grey-500">
  <a href="./">Fake Reservation System</a> &gt; Send Reservation
</div>

<h3>Mail sent</h3>

<p>
Check your inbox.
</p>

{{> mdl_content_foot}}
{{> mdl_foot}}
{{> html_foot}}
