Return-Path: {{user.email}}
From: Fake Reservation System <{{user.email}}>
Subject: [FRS] {{form_type_uc}} Reservation
Date: {{email_date}}
X-Mailer: FRS/1.0
MIME-Version: 1.0
Content-Type: text/html; charset=utf-8

<html>
<body>
<p>
<h1>YOUR RESERVATION DETAILS</h1>
<p>
<div itemscope itemtype="http://schema.org/LodgingReservation">
  Reservation number: <span itemprop="reservationNumber">{{reservationNumber.value}}</span><br/>
  <link itemprop="reservationStatus" href="http://schema.org/{{reservationStatus.value}}"/>
  <div itemprop="underName" itemscope itemtype="http://schema.org/Person">
    Reserved for: <span itemprop="name">{{underName_name.value}}</span>, <span itemprop="email">{{underName_email.value}}</span><br/>
  </div>
  <div itemprop="reservationFor" itemscope itemtype="http://schema.org/LodgingBusiness">
    Hotel: <span itemprop="name">{{reservationFor_name.value}}</span><br/>
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
      <span itemprop="streetAddress">{{reservationFor_address_streetAddress.value}}</span><br/>
      <span itemprop="addressLocality">{{reservationFor_address_addressLocality.value}}</span><br/>
      <span itemprop="addressRegion">{{reservationFor_address_addressRegion.value}}</span><br/>
      <span itemprop="postalCode">{{reservationFor_address_postalCode.value}}</span>
      <span itemprop="addressCountry">{{reservationFor_address_addressCountry.value}}</span><br/>
    </div>
    Tel.: <span itemprop="telephone">{{reservationFor_telephone.value}}</span><br/>
    <a itemprop="url" href="{{reservationFor_url.value}}">Homepage</a><br/>
    <link itemprop="image" href="{{reservationFor_image.value}}"/>
  </div>
  Checkin: {{checkinDate.value}}<br/>
  <meta itemprop="checkinDate" content="{{checkinDate.value}}"/>
  Checkout: {{checkoutDate.value}}<br/>
  <meta itemprop="checkoutDate" content="{{checkoutDate.value}}"/>
  Number of persons: <span itemprop="numAdults">{{numAdults.value}}</span> adults, <span itemprop="numChildren">{{numChildren.value}}</span> children<br/>
  Price: <span itemprop="price">{{price.value}}</span> <span itemprop="priceCurrency">{{priceCurrency.value}}</span><br/>
  <br/>
  Booked with:<br/>
  <meta itemprop="bookingTime" content="{{bookingTime.value}}"/>
  <div itemprop="bookingAgent" itemscope itemtype="http://schema.org/Organization">
    <span itemprop="name">{{bookingAgent_name.value}}</span><br/>
    <a itemprop="url" href="{{bookingAgent_url.value}}">{{bookingAgent_url.value}}</a><br/>
  </div>
  {{# url.value }}
    <a itemprop="url" href="{{url.value}}">View your reservation online.</a><br/>
  {{/ url.value }}
</div>
</p>
</body>
</html>
