{{> html_head}}
{{> mdl_head}}
{{> mdl_content_head}}

<div class="frs-crumbs mdl-color-text--grey-500">
  <a href="./">Fake Reservation System</a> &gt; Logged in
</div>

<h3>Your email address is not verified!</h3>
<p>
    To use this system, you must verify your Google email address first!
</p>

<p>
    You can find more information at this address:<br/>
    <a href="https://support.google.com/accounts/answer/63950">https://support.google.com/accounts/answer/63950</a>.
</p>

{{> mdl_content_foot}}
{{> mdl_foot}}
{{> html_foot}}
