{{> html_head}}
{{> mdl_head}}
{{> mdl_content_head}}

<div class="frs-crumbs mdl-color-text--grey-500">
  <a href="./">Fake Reservation System</a> &gt; Welcome
</div>

<h3>Select the type of reservation you want to create</h3>

<p>
<ul class="frs-selector mdl-list">
  <li class="mdl-list__item mdl-list__item--three-line" onclick="location.href='./event';">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">event</i>
      <span>Generic Event</span>
      <span class="mdl-list__item-text-body">
        Use this type to declare a reservation for one or more guests at an event.
        Tickets may be declared as well.
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line" onclick="location.href='./flight';">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons  mdl-list__item-avatar">flight_takeoff</i>
      <span>Flight Reservation</span>
      <span class="mdl-list__item-text-body">
        Use this type to declare a reservation for air travel.
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line" onclick="location.href='./train';">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons  mdl-list__item-avatar">train</i>
      <span>Train Reservation</span>
      <span class="mdl-list__item-text-body">
        Use this type to declare a reservation for railway travel.
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line" onclick="location.href='./bus';">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons  mdl-list__item-avatar">directions_bus</i>
      <span>Bus Reservation</span>
      <span class="mdl-list__item-text-body">
        Use this type to declare a reservation for bus travel.
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line" onclick="location.href='./hotel';">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons  mdl-list__item-avatar">hotel</i>
      <span>Hotel Reservation</span>
      <span class="mdl-list__item-text-body">
        Use this type to declare a reservation for one or more guests at a hotel
        or place of lodging.
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line" onclick="location.href='./rentalcar';">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons  mdl-list__item-avatar">directions_car</i>
      <span>Rental Car Reservation</span>
      <span class="mdl-list__item-text-body">
        Use this type to declare a reservation for a rental car.
      </span>
    </span>
  </li>
  <li class="mdl-list__item mdl-list__item--three-line" onclick="location.href='./restaurant';">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons  mdl-list__item-avatar">restaurant</i>
      <span>Restaurant Reservation</span>
      <span class="mdl-list__item-text-body">
        Use this type to declare a reservation for one or more guests at a
        restaurant or other food establishment.
      </span>
    </span>
  </li>
</ul>
</p>

{{> mdl_content_foot}}
{{> mdl_foot}}
<a href="https://github.com/mbirth/php-frs/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">View Source</a>
{{> html_foot}}
